

<h2 style="text-align: center">Kullanıcı Ekleme Sayfası</h2>

<form method="POST" action="/user/addUser">
    <label for="name">Ad</label><br />
    <input type="text" name="firstName" id="name" /><br />
    <label for="lastname">Soyad</label><br />
    <input type="text" name="lastName" id="lastname" /><br />
    <button type="submit">Kullanıcı Ekle</button>
</form>